@import url(reset.css);

body {
    background: #666;
}
header {
    height: 3.5rem;
    padding: 0 1.5rem;
}
header, header > span {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header figure, span { display: inline-block; }

figure, figure img { max-height: 100%; max-width: 100%; }

.left {
    height: 2.125rem;
    width: 9.125rem;
    flex-direction: row-reverse;
}
.right {
    height: 2.125rem;
    width: 9.125rem;
    gap: 1.5rem;
}
header > span > *.icon {
    height: 2.125rem;
    width: 2.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
header > span > *.icon:hover {
    background: #FFF7;
    border-radius: 50%;
}
.center {
    height: 2.5rem;
    width: 25.25rem;
}
.center label {
    height: 2.5rem;
    width: 2.5rem;
    flex-grow: 0;
    border: 1px solid #000;
}
.center .grow {
    flex-grow: 1;
    border-right: none;
}
.center input, .center button {
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    box-sizing: border-box;
}
.center input:hover, .center button:hover { background: #FFF7; }

.center input:focus { outline: none; }
/*
.center input {
    height: calc(100% - 2px);
    width: calc(100% - 4px);
}
*/